
.border_right {
    border-right: 1px solid #dadfe5 !important;
}
.border_left{
    border-left: 1px solid #dadfe5 !important;
}

.select2 {
    width: 100% !important;
    height: 100% !important;
}

.select2-container {
    z-index: 2000;
}